div {
    line-height: 1.7;
    font-size: 14px;
}

.brand {
    margin-left: 20%;
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navItem {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 20%;
}

@media (min-width: 768px) {
    .brand {
        margin-left: 5%;
    }

    .navItem {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 10%;
    }
}